
//@import url('https://fonts.googleapis.com/css?family=Overpass:400,700,800');

$red: #FF2424;
$red-dark: #DA0E0E;
$red-darkest: #A60000;
$green: #10d410;
$blue: #3BA2FD;

@import 'fonts';
@import 'fonts';
@import 'mixin-keys';
@import 'mixin-rules';


body, html{ font-family: 'Styrene'; margin: 0; padding: 0; height: 100%;}


@import 'base';