@font-face {
  font-family: 'Styrene';
  src: url('../fonts/StyreneB-BoldItalic-Web.eot');
  src: url('../fonts/StyreneB-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StyreneB-BoldItalic-Web.woff2') format('woff2'),
  url('../fonts/StyreneB-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
font-family: 'Styrene';
src: url('../fonts/StyreneB-Bold-Web.eot');
src: url('../fonts/StyreneB-Bold-Web.eot?#iefix') format('embedded-opentype'),
url('../fonts/StyreneB-Bold-Web.woff2') format('woff2'),
url('../fonts/StyreneB-Bold-Web.woff') format('woff');
font-weight: 700;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: 'Styrene';
src: url('../fonts/StyreneB-RegularItalic-Web.eot');
src: url('../fonts/StyreneB-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
url('../fonts/StyreneB-RegularItalic-Web.woff2') format('woff2'),
url('../fonts/StyreneB-RegularItalic-Web.woff') format('woff');
font-weight: 400;
font-style: italic;
font-stretch: normal;
}

@font-face {
font-family: 'Styrene';
src: url('../fonts/StyreneB-Regular-Web.eot');
src: url('../fonts/StyreneB-Regular-Web.eot?#iefix') format('embedded-opentype'),
url('../fonts/StyreneB-Regular-Web.woff2') format('woff2'),
url('../fonts/StyreneB-Regular-Web.woff') format('woff');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}

*{
  font-family: 'Styrene' !important;
  font-feature-settings: "liga", "kern";
}

